ul{
	list-style-type: none;
	margin: 0;
	padding:0;
}
a{
	color:#666;
	text-align: none;
	list-style: none;
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
body{
	background-color: #f5f5f5;
}
.container{
	background-color: #EAF5FF;
}
/* 修改container的最大宽度为1260 */
@media screen and (min-width:1280px) {
	.container{
		width:1280px;
	}
}
/* header */
header{
	padding-left: 0!important;
}
.logo{
	background-color: #EAF5FF;
}
.logo img{
	display: block;
	/* logo图片不需要缩放 */
	max-width:100%;
	margin: 0 auto;
}
.filter-bar {
    display: flex;
    border-bottom: 1px solid #E5E5E5;
}
.filter-opt {
    position: relative;
    text-align: center;
}
/* 进入超小屏幕下，logo里面的图片就隐藏起来 */
/* 事先准备好一个盒子 放在logo里面 平时隐藏 超小屏幕下显示*/
.logo span{
	display: block;
	height: 50px;
	line-height: 50px;
	color:#fff;
	font-size:18px;
	text-align: center;
}
.nav{
	background-color: #9ACFEA;
	/* border-bottom: 1px solid #ccc; */
}
.nav a{
	display: block;
	height:50px;
	line-height: 50px;
	padding-left:30px;
	font-size:16px;
	text-decoration: none;
}
.nav a:hover{
	background-color:#EAF5FF;
	color: #333;
}
.nav a::before{
	vertical-align: middle;
	padding-right:5px;
}
/* 进入小屏幕和超小屏幕时， nav 里面的 li 浮动，
   并设置宽度为20%  使导航栏一行显示 */
@media screen and (max-width:991px) {
	.nav li{
		float:left;
		width:20%;
	}
	article{
		margin-top:10px;
	}
}
/* 进入超小屏幕时，nav 文字会变成14px */
@media screen and (max-width:767px) {
	.nav li a{
		font-size: 14px;
		padding-left: 3px;
	}
	
	/* 进入超小屏幕下 第一个li 宽度为100%
	   剩下的li变为50%， 使其一行显示两个元素*/
	.items li:nth-child(1) {
		width:100%!important;
	}
	.items li{
		width:50%!important;
	}
	.lists h3{
		font-size: 14px;
	}
}

/* 子元素绝对定位，父元素相对定位 */
.items li a{
	position: relative;
	display: block;
	width:100%;
	height:100%;
}
.items li{
	float: left;
	width: 25%;
	height: 133px;
	padding-right: 10px;
}
.items li a{
	display: block;
	width: 100%;
	height: 100%;
}
/* 第一个小盒子 */
.items li:nth-child(1){
	width:50%;
	height:266px;
}
.items li:nth-child(1) p{
	line-height: 41px;
	font-size: 20px;
	padding:0 10px;
}
   
.items li a img{
	width:100%;
	height:100%;
}
.items li a p{
	position: absolute;
	bottom:0;
	left:0;
	width:100%;
	height: 41px;
	padding:5px 10px;

	margin-bottom: 0;
	background-color: #9ACFEA;
	font-size: 12px;
	color:#fff;
}
.lists{
	border-top: 1px solid #ccc;
}
.lists row{
	border-bottom: 1px solid #ccc;
	padding:10px 0;
}
.pic{
	margin-top: 10px;
}
.pic img{
	width:100%;
}
.banner img{
	width:100%;
	height:200px;
}
.hot{
	display: block;
	margin-top: 20px;
	padding:0 20px 20px;
	border:1px solid #ccc;
}
.hot span{
	border-radius: 0;
	margin-bottom: 20px;
}
.hot p{
	font-size: 12px;
}
.btn_color{
	border: #9ACFEA;
	background:#9ACFEA;
}
/* 商品显示 */
.header-edit {
    float: right;
    padding: 0 10px;
    cursor: pointer;
}
.empty-states {
    padding-top: 80px;
    font-size: 18px;
    color: #AEB0B7;
    text-align: center;
}
.cart-list {
    height: 560px;
}
.goods-item {
    display: flex;
    margin-bottom: 8px;
    padding: 10px 6px;
    min-height: 62px;
    background: #fff;
}
.goods-img {
    position: relative;
    margin-right: 4%;
    display: block;
    width: 16%;
}
.goods-img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.goods-item .flag {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    font-size: 12px;
    color: #fff;
    text-align: center;
    line-height: 20px;
    background-color: #FC5951;
    border-radius: 50%;
}
.goods-info {
    position: relative;
    width: 80%;
}
.goods-title {
    width: 80%;
    height: 38px;
    color: #363636;
    line-height: 1.4;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.goods-price {
    margin-top: 6px;
    line-height: 1;
}
.goods-price span {
    font-size: 15px;
    color: #9ACFEA;
}
.des {
    font-size: 12px;
    color: #888;
}
.save {
    position: absolute;
    right: 10px;
    bottom: 2px;
    width: 32px;
    height: 22px;
    background-color: #9ACFEA;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #fff;
    border-radius: 12px;
    overflow: hidden;
}
.cart-list .goods-info {
    width: 68%;
}
.item-selector {
    width: 12%;
}
.icon-selector {
    position: relative;
    margin: 16px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid #ccc;
    cursor: pointer;
}
.selector-active {
    background-color: #9ACFEA;
    border-color: #9ACFEA;
}
.selector-active .icon {
    position: absolute;
    top: 2px;
    left: 2px;
}

.goods-num {
    position: absolute;
    right: 10px;
    top: 4px;
    width: 32px;
    color: #999;
    text-align: center;
}

.show-num {
    line-height: 28px;
}

.num-btn {
    width: 100%;
    height: 24px;
    font-size: 20px;
    line-height: 20px;
    cursor: pointer;
}
/* 底部结算栏*/
.action-bar {
    position: absolute;
    left: 15px;
	padding-right:28px;
    bottom: 0;
    width: 100%;
    height: 52px;
    font-size: 15px;
    background-color: #fff;
    border: 1px solid #ddd;
}

.g-selector {
    float: left;
    width: 50px;
    margin-left: 4%;
    height: 52px;
    cursor: pointer;
}

.g-selector .item-selector {
    position: relative;
    display: inline-block;
}
.icon {
    position: absolute;
    top: 2px;
    left: 2px;
}
.g-selector span {
    position: absolute;
    margin-left: 30px;
    color: #5F646E;
    top: 15px;
}

.total {
	margin-left: 200px;
    color: #363636;
    font-size: 14px;
    line-height: 50px;
    margin-right: 20px;
}
.total span {
    color: red;
}

.total b {
    font-size: 17px;
    margin-left: 4px;
}

.action-btn {
    float: right;
    width: 100px;
    height: 100%;
    color: #fff;
    text-align: center;
    font-weight: 300;
    line-height: 52px;
    cursor: pointer;
}

.buy-btn {
    background-color: #9ACFEA;
}

.del-btn {
    display: none;
    background-color:red;
}

.del-box .total {
    display: none;
}

.del-box .buy-btn {
    display: none;
}

.del-box .del-btn {
    display: block;
}