<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>在线订单</title>

		<!-- 引入bootstrap样式文件 -->
		<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
		<!-- 引入自己的css样式文件 -->
		<link rel="stylesheet" href="css/style1.css">


	</head>
	<body>
		<div class="container">
			<div class="row">

				<div id="page-list">

					<!-- 左侧导航栏 -->
					<header class="col-md-2">
						<div class="logo">
							<a href="#">
								<img src="images/kj.jpg" alt="在线订花" class="hidden-xs">
								<span class="visible-xs" style="color: #888888;">FLOWERSHOP</span>
							</a>
						</div>
						<div class="nav">
							<ul>
								<li class="cate" v-bind:class="{'tab-active': cate_index === index}" v-for="(item, index) in cate" @click="toggleCate(index)">
									<a href="#" class="glyphicon glyphicon-heart">{{ item.des }}</a>
								</li>
							</ul>
							<ul>
								<li class="filter-opt" v-bind:class="{'filter-active': filter_index === index, 'filter-price': item.method === 'sortPrice', 'price-down': price_isAsc, 'price-up': !price_isAsc}"
								 v-for="(item, index) in sortMethods" @click="sortBy(item.method)">
									<a href="#" class="glyphicon glyphicon-star">{{ item.name }}</a>
								</li>
							</ul>
						</div>
					</header>


					<!-- 中间商品显示模块 -->
					<article class="col-md-6">
						<!-- 列表 -->
						<div class="items clearfix">
							<ul>
								<li>
									<a href="#">
										<img src="images/g2.jpg" alt="">
										<p>今日推荐</p>
									</a>
								</li>
								<li>
									<a href="#">
										<img src="images/g5.jpg" alt="">
										<p>韩式花艺</p>
									</a>
								</li>
								<li>
									<a href="#">
										<img src="images/3.jpg" alt="">
										<p>初恋系列</p>
									</a>
								</li>
								<li>
									<a href="#">
										<img src="images/g2.jpg" alt="">
										<p>婚纱系列</p>
									</a>
								</li>
								<li>
									<a href="#">
										<img src="images/mol2.jpg" alt="">
										<p>闺蜜系列</p>
									</a>
								</li>
							</ul>
						</div>
						<!-- 商品 -->
						<div class="lists" v-for="(item, index) in list">
							<div class="row">
								<div class="col-sm-8">
									<h3>{{ item.name }}</h3>
									<p><span>¥<b>{{ item.price }}</b></span></p>
									<p class="text-muted"><span>{{ item.sales }}人付款</span></p>
									<a href="#">
										<p class="text-muted glyphicon glyphicon-shopping-cart"><span @click="addToCart(item)"><b>加入购物车</b></span></p>
									</a>

								</div>
								<div class="col-sm-4 pic">
									<img v-bind:src="item.img" v-bind:alt="item.name">
								</div>
							</div>
						</div>
					</article>

				</div>

				<!-- 右侧订单模块 -->
				<aside class="col-md-4" id="page-cart">

					<a href="#" class="banner">
						<img src="images/mol2.jpg" alt="">
					</a>
					<div class="hot">


						<span class="btn btn-info btn_color">购物清单</span>
						<button type="button" class="header-edit btn-default btn-lg active" @click="toggleDelBtn">
							<span v-show="!delFlag">编辑</span>
							<span v-show="delFlag">完成</span>
						</button>
								
							<div class="empty-states" v-if="cart.length === 0">
								<span>这里是空的，快去逛逛吧</span>
							</div>
							<ul class="goods-list cart-list" v-else>

								<li class="goods-item" v-for="(item, index) in cart">
									<div class="item-selector">
										<div class="icon-selector" v-bind:class="{'selector-active': item.checked}" @click="selectGoods(item)">
											<svg t="1504061791962" class="icon" style="" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg"
											 p-id="2922" xmlns:xlink="http://www.w3.org/1999/xlink" width="12" height="12">
												<path d="M908.288 127.488l-537.6 537.6-254.976-254.976L0 525.824l254.976 254.976 115.712 115.712L486.4 780.8l537.6-537.6z"
												 fill="#ffffff" p-id="2923"></path>
											</svg>
										</div>
									</div>
									<div class="goods-img">
										<img v-bind:src="item.img" v-bind:alt="item.name">
									</div>
									<div class="goods-info">
										<p class="goods-title">{{ item.name }}</p>
										<div class="goods-price">
											<span>¥<b>{{ item.price }}</b></span>
										</div>
										<span class="des">库存{{ item.stock }}件</span>
										<div class="goods-num">
											<div class="num-btn" @click="changeQty(true, item)">+</div>
											<div class="show-num">{{ item.quantity }}</div>
											<div class="num-btn" @click="changeQty(false, item)">-</div>
										</div>
									</div>
								</li>
							</ul>

						

						<!-- 底部结算按钮 -->
						<div class="action-bar" v-bind:class="{ 'del-box': delFlag }">
						    <!-- del-box -->
						    <div class="g-selector" @click="checkAll">
						        <div class="item-selector">
						            <div class="icon-selector" v-bind:class="{'selector-active': checkAllFlag}">
						                <svg t="1504061791962" class="icon" style="" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2922" xmlns:xlink="http://www.w3.org/1999/xlink" width="12" height="12">
						                    <path d="M908.288 127.488l-537.6 537.6-254.976-254.976L0 525.824l254.976 254.976 115.712 115.712L486.4 780.8l537.6-537.6z"
						                        fill="#ffffff" p-id="2923"></path>
						                </svg>
						            </div>
						        </div>
						        <span>全选</span>
						    </div>
						    <div class="action-btn buy-btn">去结算({{ selectedNum }})</div>
						    <div class="action-btn del-btn" @click="delGoods">删除({{ selectedNum }})</div>
						    <div class="total">合计：<span>¥<b>{{ totalPrice }}</b></span></div>
						</div>

					</div>
				</aside>


 <!--   footer  -->
    <iframe src="footer.html" width="100%" height="210px" frameborder="0" scrolling="no" style="margin:27px auto 0;"> </iframe>
	
			</div>
		</div>
		<script src="js/vue.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/app.js" type="text/javascript" charset="utf-8"></script>
	</body>
</html>
